BOT_TOKEN=
ADMIN_TELEGRAM_ID=
TELEGRAM_CHANNEL_USERNAME=
TELEGRAM_CHANNEL_ID=
TELEGRAM_CHANNEL_URL=
KASPI_PAYMENT_URL=https://pay.kaspi.kz/pay/tiu8nyrj

# Необязательно: если не указать, бот определит username сам при старте
BOT_USERNAME=

# Необязательно, по умолчанию 3000
DIAGNOSTICS_PRICE=3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_CALENDAR_ID=primary

TIMEZONE=Asia/Almaty

WORK_START=10:00
WORK_END=20:00

APPOINTMENT_DURATION=40

# Необязательно: путь к файлу базы данных
DATABASE_PATH=database.db
